html {
	color: #131313;
	scroll-behavior: smooth;
}

body {
	font-family: "Poppins", sans-serif;
	margin: 0 auto;
	background-color: #ffffff;
}

.cabecalho {
	background: linear-gradient(to bottom, #003C43, #43766C);
}

.cabecalho .container-cabecalho {
	display: flex;
	justify-content: space-between;
	align-items: center;
	max-width: 1200px;
	margin: 0 auto;
}

.container-logo {
	width: fit-content;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 5px;
}

.logo-texto {
	font-family: "Poppins", Verdana, Geneva, Tahoma, sans-serif;
	font-size: 32px;
	font-weight: 200;
	color: #ffffff;
}

.logo-texto:hover {
	cursor: default;
	user-select: none;
}

.container-logo img {
	max-height: 38px;
}

.cabecalho .menu{
	width: max-content;
}


.menu ul {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.menu{
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu li{
	padding: 10px 10px;
	height: 100%;
}

.menu a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu .btn-saiba-mais{
	border: none;
	border-radius: 10px;
	padding: 10px 15px;
	transition: 0.2s;
}

.menu .btn-saiba-mais:hover{
	cursor: pointer;
	transform: scale(1.07);
	background-color: rgba(0, 62, 67, 0.75);
}

.menu .btn-acessar{
	border: none;
	border-radius: 10px;
	padding: 10px 20px;
	transition: 0.2s;
	background-color: #ffffff;
	color: #000000;
	font-weight: 500;
}

.menu .btn-acessar:hover{
	cursor: pointer;
	transform: scale(1.1);
	background-color: #ffffff;
}

.menu .btn-seletor-idiomas{
	border: none;
	border-radius: 50px;
	padding: 10px;
	transition: 0.2s;
}

.menu .btn-seletor-idiomas:hover{
	cursor: pointer;
	transform: scale(1.07);
	background-color: rgba(0, 62, 67, 0.75);
}

.menu img{
	height: 26px;
}

.home {
	display: flex;
	min-height: calc(100vh - 60px);
	align-items: center;
	gap: 50px;
	justify-content: space-between;
	max-width: 1150px;
	margin: 0 auto;
}