a{
    text-decoration: none;
    color: #fff;
}
.recusar{
    background: red;  

}

ul{
    list-style: none;
}

img{
    max-width: 100%;    
}
nav {
    background-color: #43766c;
    padding: 10px 0;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin-right: 10px;
    color: white;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    color: white;
            text-decoration: none; 
}

nav ul li a:hover {
    background-color: #555;
    color: lightgray; 
}
.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.container h2 {
    text-align: center;
    color: #333;
}
.row {
    margin-bottom: 15px;
}
.row::after {
    content: "";
    display: table;
    clear: both;
}
.col-6 {
    float: left;
    width: 50%;
}
.col-12 {
    float: left;
    width: 100%;
}
label {
    display: block;
    margin-bottom: 5px;
}
input {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}
button:hover {
    background-color: #45a049;
}
.recusar:hover {
    background-color: #D20103;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}
th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}
th {
    background-color: #43766c;
    color: white;
}
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    .row {
        margin-bottom: 10px;
    }
    .col-6, .col-12 {
        width: 100%;
    }
    .dataGrid {
        overflow-x: auto;
    }
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    th, td {
        white-space: nowrap;
    }
}