*{
    margin: 0;
    border: 0;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
nav{
    background: red;
   /* display:inline-flex;*/
}
ul{
    display: flex;
    list-style: none;
    gap: 20px;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
}
li {
    display: flex; /* Para que o texto e o ícone se alinhem verticalmente */
    align-items: center; /* Para alinhar o texto e o ícone verticalmente */
  }
li:hover{
    cursor: pointer;
}
li:active{
    color: white;
}
/*Configurações GOOGLE ICONS*/
/*.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}*/

