html, body {
    height: 100%;
    margin: 0;
}
body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
}

nav {
    background-color: #43766c;
    padding: 10px 0;
    width: 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin-right: 10px;
    color: white;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
}

nav ul li a:hover {
    background-color: #555;
    color: lightgray;
}

.content {
    display: flex;
    flex: 1;
}

.menuLateral {
    background-color: #B19470;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.dataGrid {
    flex: 1;
    background-color: #f9f9f9;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, select {
    width: calc(100% - 16px);
    height: 30px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 10px;
    padding: 8px;
}

button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 1px solid #ccc;
    padding: 12px;
    text-align: left;
}

th {
    background-color: #43766c;
    color: white;
}

.relatorio {
    margin-bottom: 5px;
    margin-top: auto;
}

h4 {
    font-size: 25px;
    font-weight: 600;
    padding-bottom: 10px;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}

/* Adicionando a media query para dispositivos móveis */
@media (max-width: 600px) {
    .container {
        padding: 10px;
    }
    .row {
        margin-bottom: 10px;
    }
    .col-6, .col-12 {
        width: 100%;
    }
    .dataGrid {
        overflow-x: auto;
    }
    table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
    }
    th, td {
        white-space: nowrap;
    }
}
